<div class="container">
    <div class="row">
        <div class="col m12">
            <h2 class="center-align">Create Advert</h2>
            <div class="row">
                <form class="col s12" (submit)="createAdvert()">
                    <div class="row">
                        <div class="input-field col s12">
                            <input [(ngModel)]="advert.title" name="title" id="title" type="text" class="validate">
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input [(ngModel)]="advert.advertDescription" id="advertDescription" name="advertDescription" type="text" class="validate">
                            <label for="advertDescription">Advert Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input [(ngModel)]="advert.category" id="category" name="category" type="text" class="validate">
                            <label for="category">Category</label>
                        </div>
                    </div>

                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Create</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>