<div class="row">
    <div *ngFor="let advert of adverts.result" class="col s12 m6 l4 ">
        <h5 class="header">{{advert.Title}}</h5>
        <div class="card">
            <div *ngFor="let pic of advert.Pictures" class="card-image">
                <img src="https://bs3.cdn.telerik.com/v1/656rc4p2f15c5tlj/{{pic}}" height="190">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{advert.AdvertDescription}}.</p>
                    <p>Created at: {{advert.CreatedAt | date}}</p>
                </div>
                <div class="card-action">
                    <a [routerLink]="['/adverts', advert.Id]">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>